<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.tracking.mapper.DeliveriesMapper">

    <insert id="autoInsertDeliveries" parameterType="com.acorn.tracking.domain.Deliveries">
        INSERT INTO Deliveries (order_id, delivery_status, latitude, longitude, delivery_time)
        VALUES (#{order_id}, #{delivery_status}, #{latitude}, #{longitude}, CURRENT_TIMESTAMP)
    </insert>

</mapper>