<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.tracking.mapper.TableMapper">

    <delete id="dropProducts">
        DROP TABLE IF EXISTS Products;
    </delete>

    <delete id="dropAdmins">
        DROP TABLE IF EXISTS Admins;
    </delete>

    <delete id="dropBaskets">
        DROP TABLE IF EXISTS Baskets;
    </delete>

    <delete id="dropOrders">
        DROP TABLE IF EXISTS Orders;
    </delete>

    <delete id="dropDeliveries">
        DROP TABLE IF EXISTS Deliveries;
    </delete>

    <delete id="dropRecalls">
        DROP TABLE IF EXISTS Recalls;
    </delete>

    <update id="createDeliveries">
        CREATE TABLE Deliveries (
            delivery_id INT AUTO_INCREMENT PRIMARY KEY,                                
            order_id INT,                                
            delivery_status VARCHAR(20),
            latitude DECIMAL(8, 5),
            longitude DECIMAL(8, 5),
            delivery_time TIMESTAMP,               
            FOREIGN KEY (order_id) REFERENCES Orders(order_id)
        );
    </update>

    <update id="createProducts">
        CREATE TABLE Products (
            product_id INT AUTO_INCREMENT PRIMARY KEY,  
            product_name VARCHAR(100),                 
            price INT,                                 
            category VARCHAR(100), 
            quantity_available INT,                    
            last_update TIMESTAMP                       
        );
    </update>

    <update id="createAdmins">
        CREATE TABLE Admins (
            admin_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100),
            email VARCHAR(100) UNIQUE,
            password VARCHAR(100)
        );
    </update>

    <update id="createOrders">
        CREATE TABLE Orders (
            order_id INT AUTO_INCREMENT PRIMARY KEY,                            
            date_time TIMESTAMP,
            quantity_ordered INT,                      
            total_price INT,                          
            latitude DECIMAL(8, 5),  
            longitude DECIMAL(8, 5),                                             
            customer_name VARCHAR(30)           
        );
    </update>

    <update id="createBaskets">
        CREATE TABLE Baskets (
            basket_id INT AUTO_INCREMENT PRIMARY KEY, 
            product_id INT,
            delivery_id INT,
            temperature DECIMAL(5, 2),       
            humidity DECIMAL(5, 2),           
            freshness DECIMAL(5, 2),  
            FOREIGN KEY (product_id) REFERENCES Products(product_id),
            FOREIGN KEY (delivery_id) REFERENCES Deliveries(delivery_id)          
        );
    </update>

    <update id="createRecalls">
        CREATE TABLE Recalls (
            recall_id INT AUTO_INCREMENT PRIMARY KEY,  
            delivery_id INT,                           
            is_recalled BOOLEAN,                      
            recall_date TIMESTAMP,                        
            postponed_delivery_date TIMESTAMP,            
            FOREIGN KEY (delivery_id) REFERENCES Deliveries(delivery_id)  
        );
    </update>

</mapper>

